<div class="row">
  <%= if allow?(@current_user, "example") do %>
    <%=
      central_component "menu_card",
      icon: "fa-duotone fa-home",
      text: "Example",
      link: "example_url"
    %>
  <% end %>
</div>
